<template name="bounties">
  <section id="bounties" class="row">
    <h1>Found bounties</h1>
    {{#each bounties }}
    {{#if visible}}
      <h2>{{ethId}}  {{title}}</h2>
      <div class="panel">
        {{#each badges }}
          {{> badgeImage badge }}
        {{/each}}
      </div>
      <div class="bounty-description">
        {{description}}
      </div>
      <div class="bounty-score">
        <label>
          Score:
        </label>
        <span>{{score}}</span>
      </div>      
      <div class="bounty-value">
        <label>
          Value:
        </label>
        <span>${{valueUsd}}</span>
      </div>
    {{/if}}
    {{/each}}
  </section>
</template>
